RewriteEngine on

 Rewriterule ^content/?                            isi.php
 Rewriterule ^proses/?                            aksi.php

 #Rewriterule ^api/?                            api.php


 Rewriterule ^login/?                            core/login_proses.php
 Rewriterule ^quit/?                            logout.php
